<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>User Dashboard</title>
  </head>
  <body>
    <header class="header flex">
      <a href="/">Home</a>
      <nav>
        <a href="/products">Products</a>
        <% if(!user.isAdmin) { %>
        <a href="/users/<%= user.id %>/cart">View Cart</a>
        <%} %>
        <a href="/users/logout">Logout</a>
      </nav>
    </header>
    <h1 class="page-title">Welcome, <%= user.name %></h1>
    <div>
      <% if(error) { %>
      <p class="error"><%= error %></p>
      <% } %>
    </div>
    <div class="btns">
      <a href="/products" class="btn">View Products</a>
      <% if(user.isAdmin) { %>
      <a href="/products/new" class="btn">Create a Product</a>
      <% } %> <% if(!user.isAdmin) { %>
      <a href="/users/<%= user.id %>/cart" class="btn">View Cart</a>
      <% } %>
    </div>
  </body>
</html>
