<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Create Product</title>
  </head>
  <body>
    <header class="header flex">
      <a href="/">Home</a>
      <nav>
        <a href="/products/">Back</a>
        <a href="/products">Products</a>
        <a href="/users/logout">Logout</a>
      </nav>
    </header>
    <h1>Create Product</h1>
    <form action="/products" method="POST" class="form">
      <div>
        <label for="name">Name :</label>
        <input type="text" name="name" id="name" placeholder="Enter name" />
      </div>
      <div>
        <label for="quantity">Quantity :</label>
        <input
          type="number"
          name="quantity"
          id="quantity"
          placeholder="Enter quantity"
        />
      </div>
      <div>
        <label for="price">Price :</label>
        <input
          type="number"
          name="price"
          id="price"
          placeholder="Enter price"
        />
      </div>
      <div>
        <label for="image">Image :</label>
        <input
          type="text"
          name="image"
          id="image"
          placeholder="Enter image URL"
        />
      </div>
      <input type="submit" value="Create Product" class="btn" />
    </form>
  </body>
</html>
